* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.add-btn {
  width: 20%;
}
